<div class="home-wrapper">
	<div class="home-item">
		<div class="headline">

			<%= image_tag("plogonamemaroon.png", :class => 'center', :alt => 'piclicity', :width => 250, :height => 98) %>
			<h4 class="opensans">Search by Keyword (insert ruby code here)</h4>

		</div>
	</div>
		
</div>
